#Ignore cache files
.pyc
/home/shiva/WMU/PhD/Scripts/phd_project/Python/NMR/NMR_analysis/__pycache__/
/home/shiva/WMU/PhD/Scripts/phd_project/Python/NMR/NMR_analysis/angle_triangle.ipynb
Data_simulation/*